<p id="notice"><%= notice %></p>

<p>
  <strong>Número de departamento:</strong>
  <%= @apartment.apartment_number %>
</p>

<p>
  <strong>Edificio:</strong>
  <%= @apartment.building.name %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @apartment.building.city %>
</p>

<%= link_to 'Editar departamento', edit_apartment_path(@apartment) %> |
<%= link_to 'Volver', apartments_path %>
